.home-minus {
    position: relative;
    z-index: 1;
    margin-top: 35px;
}
.add-btn {
    position: absolute;
    right: 0;
    background: #00ae65;
    color: #fff;
    font-size: 21px;
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
    bottom: 0;
    border-radius: 14px 0 0 0;
  }
  .product-back {
    width: 180px;
    margin: auto;
  }
/*
-- Body
-- Colors
-- Buttons
-- Typography
-- Navbar
-- Banners
-- Product Detail
-- Listing
-- My Account
-- Checkout
-- Footer
-- Mobile Media
*/

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&amp;display=swap');
@import "./bootstrap-icons%401.10.3/font/bootstrap-icons.css";
:root {
    --primary: #0096c7;
    --danger: #fe3000;
    --danger-hover:#d72900;
    --warning: #ff8d27;
    --info: #95d9df;
    --muted: #e9ecef;
    --light-dark: #444444;
}

/* Body */
body {
    font-family: 'Rubik', sans-serif;
    font-size: 13px;
}
a {
    text-decoration: none;
    color: var(--danger);
}
.form-control, .form-select, .form-check-input {
    box-shadow: none !important;
}
.offcanvas-footer{
    padding: 1rem;
}
.form-check-input:checked{
    background-color: var(--danger) !important;
    border-color: var(--danger) !important;
}
.accordion .accordion-button{
    box-shadow: none;
    background-color: #fff;
    color: #000;
}
.dropdown .dropdown-menu .dropdown-item:active{
    background-color: var(--danger);
}
.osahan-dropdown {
    font-size: 14px;
    min-width: 256px;
}
.osahan-dropdown .dropdown-item {
    padding: 6px 1rem;
    font-size: 14px;
}
.shop-category,.popular-products,.coupons,.cold-drinks,.top-picks,.big-img,.small-img {
    display: none;
}
.intro-logo {
    height: 80px;
}

/* Colors */
.text-danger{
    color: var(--danger) !important;
}
.bg-danger{
    background-color: var(--danger) !important;
}
.border-end, .border, .border-start, .border-top, .border-bottom, .card, .card-header {
    border-color: #eaecef !important;
}

/* Buttons */
.osahan-arrow {
    width: 35px;
    height: 35px;
    background: #fff;
    color: #d2d2d2;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 50px;
    top: 0;
    bottom: 0;
    font-size: 20px;
    border: 2px solid #dbdbdb;
    margin: auto;
    cursor: pointer;
    transition: all 0.2s;
}
.osahan-arrow:hover {
    color: #ff2f01;
    border-color: #ff2f01;
}
.osahan-right {
    right: -11px;
}
.osahan-left {
    z-index: 9;
    left: -10px;
}
.shop-category .osahan-arrow {
    bottom: auto;
    top: 41px;
}
.top-picks .osahan-arrow {
    bottom: auto;
    top: 59px;
}
.big-img .osahan-left {
    left: 20px;
}
.big-img .osahan-right {
    right: 20px;
}
.small-img .slick-current.slick-active .border {
    border:2px solid #d72900 !important;
}
.small-img .border{
    cursor: pointer;
    transition: all 0.2s;
}
.small-img .border:hover{
    border:2px solid #d72900 !important;
}
.osahan-new-btn {
    padding: 6px 0;
    border-radius: 11px !important;
}
.btn-outline-danger{
    border-color: var(--danger) !important;
    color: var(--danger) !important;
}
.btn-outline-danger:hover{
    background-color: var(--danger) !important;
    color: #fff !important;
}
.btn-danger{
    background-color: var(--danger) !important;
    border-color: var(--danger) !important;
}
.btn-danger:hover{
    background-color: var(--danger-hover) !important;
    border-color: var(--danger-hover) !important;
}
.value{
    width: 100px;
    border: none !important;
}
.value .btn {
    font-size: 23px;
    padding: 0px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0px;
    border: 1px solid #ffd9ce !important;
    min-width: 32px;
    background: #ffe8e1;
    border-radius: 50px !important;
    color: #fe3000;
    font-weight: 100;
    transition: all 0.2s;
}
.value .btn:hover, .value .btn:focus {
    background: #fe3000 !important;
    color: #fff;
    border-color: #fe3000 !important;
}

/* Typography */
.small-sm{
    font-size: 10px;
}
 

/* Navbar */
.osahan-header a.p-3 {
    height: 68px;
}
.logo-img{
    height: 36px;
}
.osahan-location small.small {
    width: 198px;
}
.category .card{
    transition: all 0.2s;
}
.category .card:hover{
    border-color: var(--danger) !important;
    box-shadow: 0 0 10px 1px #efefef;
    color: var(--danger);
}
.osahan-listing-page-nav{
    position: sticky;
    top: 0;
    z-index: 9;
}
.osahan-listing-page-nav .nav-link {
    font-size: 13px;
    padding: 14px 16px !important;
}
.osahan-listing-page-nav .nav-link.active, .osahan-listing-page-nav .nav-link:hover {
    background: #ffe8e2;
    color: #fe2e00;
}
.osahan-listing-page-nav  a.dropdown-item {
    font-size: 14px;
    padding: 6px 19px;
}

/* Banners */
.banner-icon {
    width: 48px;
}
.ad-banner-1 {
    background-image: url(../img/ad-banner-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.ad-banner-2 {
    background-image: url(../img/ad-banner-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.ad-banner-3 {
    background-image: url(../img/ad-banner-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.grocery-banner-1 {
    background-image: url(../img/grocery-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.grocery-banner-2 {
    background-image: url(../img/grocery-banner-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.product-box{
    height: 150px;
    width: auto;
    border: 1px solid #e5e5e5;
}
.osahan-badge{
    font-size: 10px;
    letter-spacing: 0.8px;
    line-height: 13px;
    padding: 5px 4px 4px 4px;
    border-radius: 0 0 6px 6px;
}
.osahan-badge b {
    font-size: 12px;
}

/* Product Detail */
.why-shop-img{
    width: 60px;
}
.sticky-sidebar {
    position: sticky;
    top: 48px;
}
.sticky-sidebar2 {
    position: sticky;
    top: 0px;
}
.qr-code{
    width: 85px;
}
.small-img .osahan-arrow{
    z-index: 9;
}
.small-img:after {
    content: "";
    position: absolute;
    right: 0;
    width: 40px;
    background: #000;
    top: 0;
    bottom: 0;
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.99) 99%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.99) 99%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.99) 99%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}
.small-img:before {
    content: "";
    position: absolute;
    left: 0;
    width: 40px;
    background: #000;
    top: 0;
    bottom: 0;
    background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.01) 99%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.01) 99%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.01) 99%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
    z-index: 1;
}

/* Listing */
.osahan-listing-page-nav-sidebar .nav-pills .nav-link{
    background-color: transparent;
    color: var(--light-dark);
    border-radius: 0;
    padding: 13px 10px;
    border-left: 3px solid transparent;
}
.osahan-listing-page-nav-sidebar .nav-pills .nav-link img{
    width: 37px;
    background-color: var(--muted);
}
.osahan-listing-page-nav-sidebar .nav-pills .nav-link.active img{
    background-color: #fff !important;
}
.osahan-listing-page-nav-sidebar .nav-pills .nav-link.active{
    border-left: 3px solid var(--danger) !important;
    background-color: #ffe8e2;
    color: #000;
    font-weight: 600;
}
.osahan-card-list .card-img-top {
    padding: 15px;
    transition: all 0.2s;
}
.osahan-card-list:hover .card-img-top {
    padding: 5px;
}

/* My Account */
.my-account-pills .nav-link{
    border: none;
    background-color: transparent;
    text-align: start;
    color: var(--light-dark);
    font-size: 14px;
    padding: 14px 14px;
    display: flex;
    position: relative;
    align-items: center;
}
.my-account-pills .nav-link.active:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background: #f8f9fa;
    right: -1px;
}
.my-account-pills .nav-link.active{
    background-color: #f8f9fa;
}
.my-account-pills .nav-link i {
    background: #ffede8;
    color: #fc3400;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
    border-radius: 50px;
}
.my-account-pills .nav-link:hover i, .my-account-pills .nav-link.active i {
    background: #fc3400;
    color: #ffffff;
}
.order-img{
    width: 60px;
}

/* Checkout */
.checkout-img{
    height: 27px;
    border: 1px solid #dadada;
    padding: 6px 6px;
    border-radius: 6px;
    background: #fff;
}
.osahan-checkout-item .img-fluid {
    height: 57px;
}
.osahan-netbanking .d-flex.justify-content-between.mb-2 {
    height: 42px;
    border: 1px solid #eaeaea;
    padding: 5px 5px;
    border-radius: 50px;
    width: 42px;
}
.upi-img{
    height: 20px;
    border: 1px solid #dadada;
    padding: 4px 4px;
    border-radius: 4px;
    background: #fff;
}
.osahan-radio-box-action  a {
    position: absolute;
    right: 16px;
    background: #fff;
    font-size: 11px;
    bottom: 12px;
}
.osahan-radio-box {
    position: relative;
}
.osahan-radio-box .form-check-label {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
    bottom: 0;
    cursor: pointer;
}
.osahan-radio-box .form-check-input {
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    position: absolute;
    margin: 0px;
    border: 2px solid transparent;
    border-radius: 15px;
    background: no-repeat;
}
.osahan-radio-box .form-check-input:checked[type=radio] {
    background: none !important;
    border: 2px solid #000;
}
.osahan-radio-box .form-check-input:after {
    content: "";
    width: 19px;
    height: 19px;
    border-radius: 50px;
    background: #f8f9fa;
    position: absolute;
    right: 15px;
    top: 15px;
    border: 1px solid #dee2e6;
}
.osahan-radio-box .form-check-input:checked[type=radio]:before {
    content: "";
    width: 19px;
    height: 19px;
    border-radius: 50px;
    background: #ffffff;
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 1;
    border: 5px solid #fe3000;
}

/* Footer */
footer a {
    color: var(--light-dark);
}
footer a:hover {
    color: var(--danger);
}
.mobile-app-link {
    width: 102px;
}
.social-links a {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid var(--light-dark);
    transition: all 0.2s;
    color: #000;
}
.social-links a:hover {
    background-color: var(--danger);
    color: #fff;
    border: none;
}
.footer-payment {
    height: 23px;
    border: 1px solid #dadada;
    padding: 4px 5px;
    border-radius: 4px;
    background: #fff;
}

/* Mobile Media */
@media (max-width: 992px) {
    .container,
    .container-md,
    .container-sm {
        max-width: 100%;
    }
    .osahan-left {
        z-index: 9;
        left: -1px;
    }
    .osahan-right {
        right: -2px;
    }
    .osahan-arrow {
        width: 22px;
        height: 23px;
        font-size: 11px;
    }
    .osahan-listing-page-nav .navbar-toggler {
        padding: 0 0;
        position: absolute;
        top: -37px;
        right: 41px;
    }
    .osahan-listing-page-nav .container {
        padding: 0px;
    }
    .osahan-listing .osahan-listing-page-nav-sidebar {
        padding: 0px !important;
    }
    .osahan-listing .container {
        padding: 0px;
    }
    .product-details {
        display: none;
    }
    .product-detail-page .sticky-sidebar2.border-start.overflow-auto.vh-100.p-5 {
        padding: 0 0 50px 0px !important;
        border: none !important;
        height: auto !important;
    }
    .product-detail-page .col-lg-6.col-12.py-5 {
        padding-bottom: 10px !important;
    }
}

@media (max-width: 576px) {
    .container,
    .container-md,
    .container-sm {
        max-width: 100%;
    }
    .osahan-location small.small, .osahan-location h6 {
        width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .osahan-location {
        padding-right: 0px !important;
    }
    .osahan-header ul.list-inline li.list-inline-item:first-child a.p-3 {
        padding-left: 0px !important;
    }
    footer.bg-light.py-5 {
        display: none;
    }
    .bg-white.py-4.footer-app {
        display: none;
    }
    .footer-copyright .col-auto {
        margin: auto;
        padding: 4px 0;
    }
    .footer-copyright  p.m-0.text-muted.pe-1 {
        display: none;
    }
    .top-search-bar {
        border-top: 1px solid #dee2e6;
    }
    
    .top-search-bar input {
        border: none;
        box-shadow: none !important;
    }
    .shop-category .osahan-arrow{
        display: none !important;
    }
    .osahan-left {
        z-index: 9;
        left: -1px;
    }
    .osahan-right {
        right: -2px;
    }
    .osahan-arrow {
        width: 22px;
        height: 23px;
        font-size: 11px;
    }
    .osahan-listing .osahan-listing-page-nav-sidebar {
        padding: 0px !important;
    }
    .osahan-listing .container {
        padding: 0px;
    }
    .osahan-listing-page-nav .navbar-toggler {
        padding: 0 0;
        position: absolute;
        top: -37px;
        right: 41px;
    }
    .osahan-listing-page-nav .container {
        padding: 0px;
    }
    .product-details {
        display: none;
    }
    .product-detail-page .sticky-sidebar2.border-start.overflow-auto.vh-100.p-5 {
        padding: 0 0 50px 0px !important;
        border: none !important;
        height: auto !important;
    }
    .product-detail-page .col-lg-6.col-12.py-5 {
        padding-bottom: 10px !important;
    }
}

